body {
  margin: 2%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 275px;
}

.logo {
  font-size: 2em;
  margin-bottom: 10px;
}

.welcome {
  margin: 0;
}

.logout {
  text-align: right;
}

/*.stretches-index-stretches {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.stretch-name, .body-area-name, .user-favored-stretches {
  margin: 0;
  margin-top: 15px;
}

.admin-buttons {
  display: flex;
}

.edit-link {
  margin-right: 10px;
}

.delete-link {
  margin-left: 10px;
}

.body-area-stretches {
  margin: 0;
}

 .favored-stretch {
  display: inline;
  margin-top: 15px;
}

.stretch-description {
  width: 250px;
}
